<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ADPath" value="LDAP://cn.com"/>
    <add key="OrgRootPath" value="LDAP://cn.com"/>
    <add key="ADAdmin" value="admin"/>
    <add key="ADPasword" value="admin"/>
    <add key="ADDomainName" value="cn"/>
    <add key="ADUserDefaultPath" value="OU=beifeng,DC=CN,DC=COM"/>
  </appSettings>
</configuration>